* {
  box-sizing: border-box;
}

body {
  background-image: URL("../images/aa91412eb4e0cb9f9a8670dbb6f12867.png");
  background-size: cover;
}

#gameTitle {
  text-align: center;
  /* padding-top: 270px; */
  font-size: 100px;
  font-family: "Modak", cursive;
  color: #6b5656;
  margin-bottom: -33px;
}
/*======================================*/

#stats {
  /* border: solid 2px gray; */
  /* border-radius: 10px; */
  position: relative;
  height: 100px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Modak", cursive;
  color: #6b5656;
  font-size: 35px;
}

#scoreBoard {
  border: solid 15px gray;
  border-radius: 10px;
  /* background-image: URL("../images/yellownotepad.webp"); */
  background-color: white;
  width: 486px;
  height: 68px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: -13px;

  position: absolute;
  top: 10px;
  left: -2px;
}

#lifeMeter {
  border: solid 15px gray;
  border-radius: 10px;
  /* background-image: URL("../images/yellownotepad.webp"); */
  background-color: white;
  width: 487px;
  height: 68px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: -13px;

  position: absolute;
  top: 10px;
  left: 510px;
}

/*======================================*/

main {
  background-color: white;
  background-image: URL("../images/aesthetic-anime-04.jpeg");
  background-size: contain;
  background-repeat: no-repeat;

  border: solid 18px rgb(128, 128, 128);
  border-radius: 10px;
  width: 1000px;
  height: 659px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -12px;
  position: relative;
}

#editor {
  /* border: solid 10px gray; */
  /* border-radius: 10px; */

  width: 1000px;
  height: 659px;
  position: absolute;
}

#champion {
  position: absolute;
  width: 130px;
  height: 172px;
  top: 246px;
  left: 466px;
  background-color: blue;
}

/*====================================== ENEMIES =========================================*/

.enemyCss {
  position: absolute;
  width: 235px;
  height: 229px;
  background: url(../images/monophy.gif);
  background-size: contain;
  background-repeat: no-repeat;
}

.enemyMoves {
  animation: slides 4s linear;
}

@keyframes slides {
  0% {
  }
  100% {
    top: 274px;
    left: 499px;
  }
}

/*============*/

.appear {
  animation: baddieAppears 1s linear;
}

@keyframes baddieAppears {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.symbols {
  display: flex;
  padding: 0;
  height: 46px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.symbols li {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  margin-right: 5px;
}

.l {
  background: URL("../images/vert.png");
  height: 100%;
  width: 23px;
}

.v {
  background: URL("../images/downarrow.png");
  height: 100%;
  width: 31px;
}

._ {
  background: URL("../images/hori.png");
  height: 100%;
  width: 33px;
}

.O {
  background: URL("../images/circle.png");
  height: 100%;
  width: 40px;
}

.n {
  background: URL("../images/uparrow.png");
  height: 31px;
}
/* =========================== OVERLAY FOR GAME OVER =========================== */

.overlay {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.34); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  pointer-events: none; /* Looked up how to make OVERLAY not Clickable. */

  /* innerHTML styling */
  text-align: center;
  padding-top: 270px;
  font-size: 100px;
  font-family: "Modak", cursive;
  color: #6b5656;
}

/* ==================== START BUTTON ==================== */

#start {
  position: absolute;
  height: 54px;
  width: 158px;
  top: 480px;
  left: 452px;
  border-radius: 15px;
  font-size: 40px;
  z-index: 100; /*to bring it to the front of the z index (screen)(layer) */
}
